export(file.name.from.url)
export(install.git)
export(install.GitHub)
export(install.MikTeX)
export(install.packages.zip)
export(install.pandoc)
export(install.R)
export(install.RStudio)
export(install.Rtools)
export(install.URL)
export(is.windows)
export(source.https)
export(update.R)
