export(ask.user.yn.question)
export(barplot_package_users_per_day)
export(browse.latest.R.NEWS)
export(check.for.updates.R)
export(checkMD5sums2)
export(copy.packages.between.libraries)
export(cranometer)
export(create.global.library)
export(download_RStudio_CRAN_data)
export(file.name.from.url)
export(format_RStudio_CRAN_data)
export(freegeoip)
export(get.installed.R.folders)
export(install.7zip)
export(install.cygwin)
export(install.Cygwin)
export(install.ffmpeg)
export(install.FFmpeg)
export(install.git)
export(install.github)
export(install.GitHub)
export(install.graphicsmagick)
export(install.GraphicsMagick)
export(install.imagemagick)
export(install.ImageMagick)
export(install.latex2rtf)
export(install.LaTeX2RTF)
export(install.lyx)
export(install.LyX)
export(install.miktex)
export(install.MikTeX)
export(install.notepadpp)
export(install.npptor)
export(install.packages.zip)
export(install.pandoc)
export(install.R)
export(install.rstudio)
export(install.RStudio)
export(install.rtools)
export(install.Rtools)
export(install.swftools)
export(install.SWFTools)
export(install.URL)
export(installr)
export(is.empty)
export(is.Rgui)
export(is.RStudio)
export(is.windows)
export(lineplot_package_downloads)
export(most_downloaded_packages)
export(myip)
export(os.hibernate)
export(os.lock)
export(os.manage)
export(os.restart)
export(os.shutdown)
export(os.sleep)
export(R_version_in_a_folder)
export(read_RStudio_CRAN_data)
export(require2)
export(restart_RGui)
export(source.https)
export(system.PATH)
export(uninstall.r)
export(uninstall.R)
export(updateR)
